ion-header {
    --background: white;
}

ion-button {
    --background: #8c52ff;
    /* Amarillo para el botón "Menú" */
    --color: black;
}

ion-content {
    ion-card {
        background-color: #ffffff;

        ion-card-header {
            ion-card-title {
                font-size: 18px;
                color: #333;
            }
        }

        ion-card-content {
            p {
                color: #888;
            }

            ion-button {
                --background: #a8b8ff;
                --color: white;
            }
        }
    }
}

/* Menú desplegable */
.menu-list {
    ion-item {
        --background: white;
        --color: black;
    }
}

ion-footer {
    ion-toolbar {
        --background: #8c52ff;
        /* Barra inferior amarilla */
    }

    ion-segment-button {
        --color: black;
        --indicator-color: black;
    }
}

.loading {
    text-align: center;
}

.loading p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.map {
    position: relative;
    height: 400px;
    width: auto;
    /* Altura del contenedor */
    background-color: #f0f0f0;
    /* Color de fondo mientras carga */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}