<ion-header>
  <ion-toolbar>
    <ion-img src="/assets/logo.png" class="logoicono"></ion-img>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()"><ion-icon name="menu" class="burger"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-content class="background">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Estadisticas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="summary">
          <div>
            <ion-icon name="hourglass-outline"></ion-icon>
            <p>Pendientes</p>
            <h2>{{ pendingCount }}</h2>
          </div>
          <div>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <p>Aceptados</p>
            <h2>{{ acceptedCount }}</h2>
          </div>
          <div>
            <ion-icon name="car-outline"></ion-icon>
            <p>En Camino</p>
            <h2>{{ inTransitCount }}</h2>
          </div>
          <div>
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p>Entregados</p>
            <h2>{{ deliveredCount }}</h2>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Gráficos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <h4>Ganancias Totales</h4>
          <canvas id="gananciasChart"></canvas>
        </div>
        <div>
          <h4>Ganancias por fechas</h4>
          <canvas id="gananciasChartdsm"></canvas>
        </div>
        <h3>Indicadores</h3>
        <div>
          <canvas id="enviosChart"></canvas>
        </div>
        <div>
          <h4>Envíos por Fecha</h4>
          <canvas id="enviosFechaChart"></canvas>
        </div>
      </ion-card-content>
      <div><br><br></div>
    </ion-card>



  </ion-content>

  <!-- Menú desplegable -->
  <ion-list *ngIf="mostrarMenu" class="menu-list">
    <ion-item (click)="navigate('perfil')">Perfil</ion-item>
    <ion-item (click)="navigate('contacto')">Contacto</ion-item>
    <ion-item (click)="navigate('faq')">Preguntas Frecuentes</ion-item>
    <ion-item (click)="logout()">Cerrar Sesión</ion-item>
  </ion-list>

  <!-- Menú de navegación inferior -->
  <ion-footer>
    <ion-toolbar>
      <ion-segment>
        <ion-segment-button value="home" (click)="navigate('home')">
          <ion-icon name="home"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="wallet" (click)="navigate('wallet')">
          <ion-icon name="wallet"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="indicadores" (click)="navigate('indicadores')">
          <ion-icon name="analytics"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="mi-cuenta" (click)="navigate('myacc')">
          <ion-icon name="person"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>