<ion-header>
  <ion-toolbar>
    <ion-title>Crear Envío</ion-title>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="end">
  <ion-back-button defaultHref="home" color="primary" size="large"></ion-back-button>
  VOLVER
</ion-buttons>

<ion-content class="ion-padding">
  <!-- Mapa de Google -->
  <!--div id="map" class="map">Ingresa las direcciones</div-->
  <div id="map" class="map">
    <div class="loading">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div><br></div>
        <p>. Ingresa el Origen y Destino por favor...</p>
      </div>
      <div><br></div>
    </div>
  </div>
  <div *ngIf="direccionOrigen && direccionDestino && distanciaFinal">
    <ion-item>
      <ion-label>
        LA DISTANCIA DE TU ENVÍO ES DE : {{ distanciaFinal }} Km
      </ion-label>
    </ion-item>

  </div>

  <!-- Botón para usar ubicación actual como origen -->
  <ion-button expand="block" color="primary" (click)="usarUbicacionActual()">
    <ion-label class="botonTexto">
      USAR MI UBICACIÓN ACTUAL
    </ion-label> </ion-button>
  <!-- Input para dirección de origen -->
  <ion-item>
    <ion-label>PUNTO DE ORIGEN : </ion-label>
    <input id="origin-input" class="fondoLabel" [(ngModel)]="direccionOrigen" placeholder="Ingresa dirección Origen" />
  </ion-item>




  <!-- Input para dirección de destino -->
  <ion-item>
    <ion-label>PUNTO DE DESTINO : </ion-label>
    <input id="destination-input" class="fondoLabel" [(ngModel)]="direccionDestino"
      placeholder="Ingresa dirección Destino" />
  </ion-item>
  <!-- Campo de descripción -->
  <ion-item>
    <ion-label>DESCRIPCIÓN : </ion-label>
    <textarea maxlength="200" class="fondoLabel textoBlanco" placeholder="Describe el envío..."
      [(ngModel)]="descripcion"></textarea>
  </ion-item>

  <!-- Selección de tipo de envío -->
  <ion-item>
    <ion-label>TIPO DE ENVÍO : </ion-label>
    <select [(ngModel)]="tipo_envio" class="fondoLabel textoBlanco">
      <option value="documento">Documento</option>
      <option value="caja_pequena" [disabled]="tipo_envio === 'documento'">Caja Pequeña</option>
    </select>
  </ion-item>
  <!-- Campo de costo inicial SUGERIDO-->
  <ion-item>
    <ion-label>VALOR SUGERIDO DEL ENVIO : </ion-label>
    <ion-label> {{ costoSugerido }}</ion-label>
  </ion-item>
  <!-- Campo de costo inicial -->
  <ion-item>
    <ion-label>DALE UN VALOR DEL ENVIO : </ion-label>
    <input type="number" [(ngModel)]="costo" class="fondoLabel">
  </ion-item>
  <div><br></div>

  <!-- Montos relacionados -->
  <ion-label class="textoPorc"><b> PORCENTAJES : </b></ion-label>
  <ion-item>
    <ion-label>Comisión por servicio Run-app:</ion-label>
    <ion-label> {{ comision_aplicacion }}</ion-label>

  </ion-item>
  <ion-item>
    <ion-label>TÚ GANAS POR CREAR ESTE ENVÍO : </ion-label>
    <ion-label> {{ comision_rider }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>VALOR DE PUBLICACIÓN DEL ENVÍO : </ion-label>
    <div><br></div>
    <ion-label> {{ valorFinal }}</ion-label>
  </ion-item>





  <!-- Botón para crear el envío -->
  <ion-button expand="block" color="primary" (click)="crearEnvio()">
    <ion-label class="botonTexto">
      Crear Envío
    </ion-label>
  </ion-button>
</ion-content>