#map {
  height: 45vh; /* Ocupa la mitad de la pantalla */
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px; /* Esquinas redondeadas para el mapa */
}

ion-item {
  margin-top: 10px; /* Espacio entre los ítems */
}

ion-button {
  margin-top: 20px;
  --background: #8c52ff; /* Color de fondo del botón */
  --color: white; /* Color del texto del botón */
}

input#autocomplete-input {
  padding: 10px; /* Espaciado interno para el campo de autocompletado */
  border: 1px solid #ccc; /* Borde del campo */
  border-radius: 5px; /* Esquinas redondeadas */
  width: 100%; /* Ancho completo */
}

ion-textarea {
  min-height: 100px; /* Altura mínima para el textarea */
  border-radius: 5px; /* Esquinas redondeadas para el textarea */
}
