<ion-header>
  <ion-toolbar>
    <ion-img class="logo" src="../../assets/LOGO3.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()"><ion-icon name="menu" class="burger"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Tabs for Envíos -->
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="indicador">
      <ion-icon name="podium-outline" class="iconoBlanco"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pendientes">
      <ion-icon name="hourglass-outline" class="iconoBlanco"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="aceptados">
      <ion-icon name="checkmark-circle-outline" class="iconoBlanco"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="enCamino" class="iconoBlanco">
      <ion-icon name="car-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="entregados">
      <ion-icon name="checkmark-done-outline" class="iconoBlanco"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Sección de Indicador -->
  <ion-list *ngIf="selectedTab === 'indicador'">
    <ion-item-divider>
      <ion-label>Indicadores</ion-label>

    </ion-item-divider>
    <ion-card>
      <ion-card-header class="textoGrande">
        <ion-card-title class="textoGrande">Envios Entregados</ion-card-title>
      </ion-card-header>
      <ion-card-content class="textoGrande back3">
        <p class="textoGrande">{{ deliveredCount }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="textoGrande">$</ion-card-title>
      </ion-card-header>

      <ion-card-content class="textoGrande back3">
        <p class="textoGrande texto2 texto4">Saldo Actual: <strong>{{ saldo | currency:'CLP' }}</strong></p>
        <p class="textoGrande texto2 texto4">Deuda: <strong>{{ deuda | currency:'CLP' }}</strong></p>
      </ion-card-content>
    </ion-card>


  </ion-list>
  <!-- Sección de Envíos Pendientes -->
  <ion-list *ngIf="selectedTab === 'pendientes'">
    <ion-item-divider>
      <ion-label>Envíos Pendientes</ion-label>

    </ion-item-divider>
    <div *ngIf="envios && envios.length > 0 && pendingCount > 0; else noPendingMessage">
      <div *ngFor="let envio of enviosPendientes">
        <ion-card *ngIf="envio.estado === 'pendiente'" class="envio-card back1" [routerLink]="['envio/', envio.id]">
          <!-- Contenido del card de envío pendiente -->


          <ion-card-header>
            <ion-card-subtitle class="estado texto1">{{ envio.estado | titlecase }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-card-title class="texto1">
                  Distancia: <b>{{ envio.distanciaKM }} Km</b>
                </ion-card-title>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="location-outline" class="icon"></ion-icon>
                  <b>Origen:</b> {{ envio.direccionOrigen }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="flag-outline" class="icon"></ion-icon>
                  <b>Destino:</b> {{ envio.direccionDestino }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label id-info texto1">
                  <ion-icon name="pricetag-outline" class="icon"></ion-icon>
                  <b>VALOR : </b> {{ envio.valorFinal }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>

    </div>
    <ng-template #noPendingMessage>
      <ion-item class="texto2">
        <ion-label>No hay envíos pendientes</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <!-- Sección de Envíos Aceptados -->
  <ion-list *ngIf="selectedTab === 'aceptados'">
    <ion-item-divider>
      <ion-label>Envíos Aceptados</ion-label>
    </ion-item-divider>
    <div *ngIf="envios && envios.length > 0 && acceptedCount > 0; else noAcceptedMessage">
      <div *ngFor="let envio of enviosAceptados">
        <ion-card *ngIf="envio.estado === 'aceptado'" class="envio-card back1" [routerLink]="['envio/', envio.id]">
          <!-- Contenido del card de envío aceptado -->


          <ion-card-header>
            <ion-card-subtitle class="estado texto1">{{ envio.estado | titlecase }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-card-title class="texto1">
                  Distancia: <b>{{ envio.distanciaKM }} Km</b>
                </ion-card-title>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="location-outline" class="icon"></ion-icon>
                  <b>Origen:</b> {{ envio.direccionOrigen }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="flag-outline" class="icon"></ion-icon>
                  <b>Destino:</b> {{ envio.direccionDestino }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label id-info texto1">
                  <ion-icon name="pricetag-outline" class="icon"></ion-icon>
                  <b>VALOR : </b> {{ envio.valorFinal }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ng-template #noAcceptedMessage>
      <ion-item class="texto2">
        <ion-label>No hay envíos Aceptados</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <!-- Sección de Envíos en Camino -->
  <ion-list *ngIf="selectedTab === 'enCamino'">
    <ion-item-divider>
      <ion-label>Envíos en Camino</ion-label>
    </ion-item-divider>
    <div *ngIf="envios && envios.length > 0 && inTransitCount > 0; else noInTransitMessage">
      <div *ngFor="let envio of enviosEncamino">
        <ion-card *ngIf="envio.estado === 'enCamino'" class="envio-card back1" [routerLink]="['envio/', envio.id]">
          <!-- Contenido del card de envío en camino -->


          <ion-card-header>
            <ion-card-subtitle class="estado texto1">{{ envio.estado | titlecase }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-card-title class="texto1">
                  Distancia: <b>{{ envio.distanciaKM }} Km</b>
                </ion-card-title>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="location-outline" class="icon"></ion-icon>
                  <b>Origen:</b> {{ envio.direccionOrigen }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="flag-outline" class="icon"></ion-icon>
                  <b>Destino:</b> {{ envio.direccionDestino }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label id-info texto1">
                  <ion-icon name="pricetag-outline" class="icon"></ion-icon>
                  <b>VALOR : </b> {{ envio.valorFinal }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ng-template #noInTransitMessage>
      <ion-item>
        <ion-label class="texto2">No hay envíos En Camino</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <!-- Sección de Envíos Entregados -->
  <ion-list *ngIf="selectedTab === 'entregados'">
    <ion-item-divider>
      <ion-label>Envíos Entregados</ion-label>
    </ion-item-divider>
    <div *ngIf="envios && envios.length > 0 && deliveredCount > 0; else noDeliveredCountMessage ">
      <div *ngFor="let envio of enviosEntregados">
        <ion-card *ngIf="envio.estado === 'entregado'" class="envio-card back1" [routerLink]="['envio/', envio.id]">
          <!-- Contenido del card de envío entregado -->


          <ion-card-header>
            <ion-card-subtitle class="estado texto1">{{ envio.estado | titlecase }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-card-title class="texto1">
                  Distancia: <b>{{ envio.distanciaKM }} Km</b>
                </ion-card-title>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="location-outline" class="icon"></ion-icon>
                  <b>Origen:</b> {{ envio.direccionOrigen }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label texto1">
                  <ion-icon name="flag-outline" class="icon"></ion-icon>
                  <b>Destino:</b> {{ envio.direccionDestino }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="content-label id-info texto1">
                  <ion-icon name="pricetag-outline" class="icon"></ion-icon>
                  <b>VALOR : </b> {{ envio.valorFinal }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ng-template #noDeliveredCountMessage>
      <ion-item>
        <ion-label class="texto2">No hay envíos Entregados</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>

<!-- Menú y Footer -->
<ion-list *ngIf="mostrarMenu" class="menu-list">
  <ion-item (click)="navigate('myacc')">Perfil</ion-item>
  <ion-item (click)="navigate('contacto')">Contacto</ion-item>
  <ion-item (click)="navigate('faq')">Preguntas Frecuentes</ion-item>
  <ion-item (click)="logout()">Cerrar Sesión</ion-item>
</ion-list>

<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="home" (click)="navigate('home')">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="wallet" (click)="navigate('wallet')">
        <ion-icon name="wallet"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="indicadores" (click)="navigate('indicadores')">
        <ion-icon name="analytics"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mi-cuenta" (click)="navigate('myacc')">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>